---
import { createElement } from "react";
import { renderToStaticMarkup } from "react-dom/server";

import {
  docsSnippetCodeLanguageIcons,
  docsSnippetLanguageAliases,
  docsSnippetLanguageLabels
} from "@/components/web/docs-snippet-icons";
import { CopyIcon } from "@/components/web/docs-snippet-card";
import { renderDocsSnippetTemplates } from "@/components/web/docs-snippet-templates";

const docsSnippetTemplates = Object.fromEntries(
  Object.entries(renderDocsSnippetTemplates()).filter(([name]) => name !== "docs/snippets/properties-snippet.html")
);
const copyButtonIconHtml = renderToStaticMarkup(createElement(CopyIcon));
---

<script is:inline define:vars={{
  copyButtonIconHtml,
  docsSnippetTemplates,
  sharedCodeLanguageAliases: docsSnippetLanguageAliases,
  sharedCodeLanguageIcons: docsSnippetCodeLanguageIcons,
  sharedLanguageLabels: docsSnippetLanguageLabels
}}>
  (() => {
    const languageLabels = sharedLanguageLabels;
    const codeLanguageAliases = sharedCodeLanguageAliases;

    const codeLanguageIcons = {
      ...sharedCodeLanguageIcons,
      groovy: {
        viewBox: "0 0 24 24",
        body: `<path d="M11.997 6.012S10.315 8.8 9.516 10.155c-.155.058-.172.041-.341.207-.41-.47-.897-.041-1.028.22-.057-.566-.151-.567-.279-.694.074-.496.316-1.305-.241-1.884-1.078-.727-2.326 1.05-3.021 1.982l-.375.622c-1.546-.032-2.763.008-4.231-.021 1.79.67 1.864.686 4.026 1.506 0 .066.161.372.34.552.147.15.308.234.389.284-.106.054-.32.138-.385.258-.292.546.139.672.418 1.107.315.568.382.944 1.126.625.254-.11.562-.148.758-.21-.693 1.094-.87 1.392-2.083 3.274l.012.004c4.85-1.893 4.974-1.942 7.373-2.89 3.448 1.338 3.646 1.448 7.432 2.891-.529-.826-.89-1.343-1.274-1.995.151-.013.483-.046.777-.233.213-.135.463-.288.688-.574.443-.565.551-1.277.39-2.166-.078-.423-.235-.834-.213-.85 2.061-.778 2.304-.862 4.226-1.587-2.31.034-2.422.01-4.591.016-.036-.414-.244-.627-.882-.606-.238.039-.389.12-.5.445-.357-.657-.85-.464-1.06-.14-.275-.282-.917-.377-1.24-.17-.238-.112-.514-.112-.757.177-.175-.146-.23-.188-.614-.342-.886-1.497-1.622-2.692-2.36-3.951zm.012.802c.35.535 1.552 2.61 1.849 3.074-.337.023-.668.202-.918.562-.217-.224-.47-.445-.917-.463-.544-.093-.834.148-1.2.568-.108-.365-.53-.45-.896-.28.327-.519 1.872-3.122 2.082-3.46zM7.45 9.128c-.05 1.434-1.068 2.712-1.798 2.245-.551-.449.149-1.584.59-1.985-.033.307.246.498.023.77-.446.543-.27.936-.078.996.513.162 1.004-1.227 1.004-2.201 0-.625-.366-.613-1.086.136-.983 1.022-1.513 2.012-1.16 2.69.197.38.485.651.959.594.925-.11 1.483-1.254 1.543-1.988.148-.003.109.01.148-.02 0 .129.177.755.317 1.166.183.702.964 2.11-1.369 2.658-.44.11-.614.148-1.05.32-.213-.443-.263-.585-.697-1.013.588-.205.593-.185.972-.317 1.467-.51 1.908-.947 1.857-1.57 0 0 .018-.32-.185-.588a2.613 2.613 0 0 1-.293.645c-.437.68-1.296 1.101-2.06.833-.417-.146-.596-.466-.596-1.015 0-.703 1.601-2.735 2.387-3.08.555-.165.579.293.571.724zm6.502 1.3c.26.006.543.133.735.34.594.64.529 1.417.163 1.905-.435.581-1.532.324-1.791-.488-.12-.378.095-1.312.475-1.624a.628.628 0 0 1 .418-.132zm-2.113.066a.502.502 0 0 1 .117.017c.503.03.61.313.701.56.231.626.173 1.212-.301 1.691-.711.719-1.54.401-1.536-.567.014-.69.443-1.715 1.02-1.7zm1.868.038c-.383.287-.432 1.023-.08 1.296.138.13.215.22.613.256.273.024.704-.253.725-.527.01-.125-.013-.333-.312-.67-.252-.283-.579-.349-.661-.3-.265.156.021.28.125.383.162.163.2.234.125.282a.447.447 0 0 1-.372.057c-.105-.049-.456-.246-.163-.777zm3.759.003c.167.26.215.316.402.965.24.838.546 1.163.816 1.01.74-.418.148-1.476-.113-1.974.167-.002.134.007.286.005.12.471.086.387.407 1.813.385 1.706.442 2.16-.528 2.926-.446.352-1.103.37-1.667.34l-.636-.095c.438-.287.545-.557.542-1.116 1.278.535 1.959.132 2.23-.526.132-.317.086-.735-.04-1.471.008.6-.005.71-.084 1.007-.158.595-.547.76-.812.34-.102-.163-.345-.702-.42-1.282-.075-.58-.132-1.395-.5-1.736.04-.08.082-.17.117-.206zm-1.247.01c.258.068.572.204.74.52.234.436.388.668.376 1.447-.014.832-.34 1.055-.557 1.086-.278.04-.762.034-1.049-1.598-.095-.541-.268-1.056-.45-1.224.09-.11.097-.096.165-.204.091.1.17.27.298.777.202.808.387.975.745 1.02.558.072.778-.78.318-1.391-.1-.134-.365-.307-.503-.236.008.236.113.162.114.318-.026.185-.053.219-.113.32-.142-.056-.21-.078-.334-.291-.157-.31-.055-.6.25-.544zm-4.597.076c-.263.185-.594.8-.304 1.35.143.205.297.372.638.3.245-.051.671-.34.73-.749.052-.35-.456-1.028-.738-.87-.327.183-.128.314.074.511.185.18.052.289-.077.342-.258.106-.403.003-.467-.203-.065-.205-.01-.38.144-.68zm-2.867.064c.056.172.1.402.218.624.028.023.132 0 .269-.157.086-.1.185-.238.357-.463.104.095.113.166.142.219.073.13.225.12.273.106.168-.167.195-.275.306-.29.01.216.021.35-.257.677a.535.535 0 0 1-.501.172c-.12-.034-.199-.108-.389-.205-.258.04-.19.315-.143.546.12.611.5.855.832.675.116-.062.09-.062.312-.153-.038.388-.06.463.01.896-.541.301-.982.25-1.102-.506-.091-.632-.261-1.4-.415-1.556-.145-.147-.205-.195-.205-.195l.293-.39zm-7.114.082c.753.01 1.602.01 2.506.017-.13.318-.175.54-.193.854-.422-.163-1.877-.684-2.313-.871zm20.723.01c-.997.359-1.715.637-2.677 1.004-.105-.45-.124-.588-.219-.994 1.601-.005 1.628-.002 2.896-.01zm-6.978 2.04c.105.43.253.641.253.641.202.348.454.545.84.645.085.136.115.163.148.236.037.457.01.514-.344.774-.209.204-.218.497-.003.769.231.22.474.298 1.375.064.174.3.418.653.776 1.217-1.206-.455-2.868-1.103-6.43-2.49 0 0-4.169 1.62-6.404 2.491.935-1.474 1.012-1.599 1.677-2.63.225-.089.149-.053.349-.155.459-.245.827-.61 1.028-1.145.368.83.779.925 1.636.655.177-.082.38-.2.424-.518.46.413 1.432.49 2.142-.382.612.717 2.001.785 2.533-.171zm2.157.865s.04.129.064.169c-.101.003-.213 0-.213 0a.905.905 0 0 0 .149-.17z"/>`,
        fill: true
      },
      hocon: {
        viewBox: "0 0 24 24",
        body: `<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8Z"></path><path d="M14 2v6h6"></path><path d="M9 12H8a2 2 0 0 0-2 2v1a2 2 0 0 1-1 1.73A2 2 0 0 1 6 18.46V20"></path><path d="M15 12h1a2 2 0 0 1 2 2v1a2 2 0 0 0 1 1.73 2 2 0 0 0-1 1.73V20"></path>`,
        fill: false
      },
      java: {
        viewBox: "0 0 300 390",
        body: `<path d="M102.681,291.324c0,0-14.178,8.245,10.09,11.035c29.4,3.354,44.426,2.873,76.825-3.259c0,0,8.518,5.341,20.414,9.967C137.38,340.195,45.634,307.264,102.681,291.324"></path><path d="M93.806,250.704c0,0-15.902,11.771,8.384,14.283c31.406,3.24,56.208,3.505,99.125-4.759c0,0,5.936,6.018,15.27,9.309C128.771,295.215,30.962,271.562,93.806,250.704"></path><path d="M168.625,181.799c17.896,20.604-4.702,39.145-4.702,39.145s45.441-23.458,24.572-52.833c-19.491-27.394-34.438-41.005,46.479-87.934C234.974,80.177,107.961,111.899,168.625,181.799"></path><path d="M264.684,321.369c0,0,10.492,8.645-11.555,15.333c-41.923,12.7-174.488,16.535-211.314,0.506c-13.238-5.759,11.587-13.751,19.396-15.428c8.144-1.766,12.798-1.437,12.798-1.437c-14.722-10.371-95.157,20.364-40.857,29.166C181.236,373.524,303.095,338.695,264.684,321.369"></path><path d="M109.499,208.617c0,0-67.431,16.016-23.879,21.832c18.389,2.462,55.047,1.905,89.193-0.956c27.906-2.354,55.927-7.359,55.927-7.359s-9.84,4.214-16.959,9.075c-68.475,18.009-200.756,9.631-162.674-8.79C83.313,206.851,109.499,208.617,109.499,208.617"></path><path d="M230.462,276.231c69.608-36.171,37.424-70.931,14.96-66.248c-5.506,1.146-7.961,2.139-7.961,2.139s2.044-3.202,5.948-4.588c44.441-15.624,78.619,46.081-14.346,70.52C229.063,278.055,230.14,277.092,230.462,276.231"></path><path d="M188.495,4.399c0,0,38.55,38.563-36.563,97.862c-60.233,47.568-13.735,74.69-0.025,105.678c-35.159-31.722-60.961-59.647-43.651-85.637C133.663,84.151,204.049,65.654,188.495,4.399"></path><path d="M116.339,374.246c66.815,4.277,169.417-2.373,171.847-33.988c0,0-4.671,11.985-55.219,21.503c-57.028,10.732-127.364,9.479-169.081,2.601C63.887,364.361,72.426,371.43,116.339,374.246"></path>`,
        fill: true
      },
      kotlin: {
        viewBox: "0 0 24 24",
        body: `<path d="M24 24H0V0h24L12 12Z"/>`,
        fill: true
      },
      maven: {
        viewBox: "0 0 24 24",
        body: `<path d="M4.237.001c-.312-.013-.665.072-.828.457-.158.374-.283 1.188-.34 2.276l1.223.591c-.02-.737.007-1.43.076-2.066-.026.299-.056.96.006 2.039.019.342.049.725.088 1.15.002.024.002.047.007.069a45.485 45.485 0 0 0 .309 2.412c.057.368.126.752.195 1.16l-.01.01c.014.01.015.018.014.023l.03.16c.03.162.06.328.093.494l.108.553.056.289a61.72 61.72 0 0 0 .457 2.068c.09.382.186.78.287 1.186.098.386.199.783.309 1.193.096.362.199.735.303 1.117.003.018.012.036.015.055a145.826 145.826 0 0 0 .34 1.185l.049.174c.078.261.158.533.242.805a4.2 4.2 0 0 1-.293-.135l-.19-.654c-.02-.077-.042-.148-.062-.225l-.002-.004-.004-.002c-.087-.3-.17-.607-.257-.916-.023-.087-.044-.173-.069-.263l-.314-1.178c-.1-.381-.194-.765-.29-1.154-.094-.39-.185-.78-.277-1.172-.093-.401-.181-.8-.265-1.203-.085-.396-.161-.798-.24-1.193a50.315 50.315 0 0 1-.211-1.17c-.004-.013-.006-.03-.01-.041l.004-.002c-.057-.386-.116-.77-.174-1.15a60.905 60.905 0 0 1-.154-1.204 27.447 27.447 0 0 1-.172-2.41l-1.22-.59c-.004.074-.01.15-.013.23-.012.294-.02.605-.023.93a45.3 45.3 0 0 0 .006 1.157c.009.37.025.755.045 1.148.02.336.042.675.07 1.022l.002.039.006.004c.003.023.007.05.006.076.033.368.064.739.107 1.115a34.493 34.493 0 0 0 .303 2.125c.01.064.024.131.035.195a23.418 23.418 0 0 0 .547 2.32c.07.237.14.464.21.68.063.182.13.365.194.545.155.422.327.832.512 1.232l.006.004a.318.318 0 0 0 .02.05c.225.485.475.95.755 1.395.01.013.02.033.03.047-.455-.183-1.259-.098-1.253-.097.83.288 1.557.64 2.016 1.175-.183.2-.523.352-.953.477.594.064.924-.039 1.045-.092-.31.26-.483.732-.635 1.24.35-.57.696-.949 1.033-1.094.078.258.162.524.244.788A147.532 147.532 0 0 0 5.157 24a.56.56 0 0 0 .43-.312c.13-.282.83-1.775 1.908-3.875.413 1.303.88 2.679 1.386 4.109a.494.494 0 0 0 .076-.465 103.735 103.735 0 0 1-1.308-3.945c.154-.299.316-.612.484-.932.125.04.255.094.389.155.203.186.352.491.482.84a1.515 1.515 0 0 0-.334-1.098c1.335.258 2.547.09 3.287-.81a3.97 3.97 0 0 0 .192-.258c-.325.304-.682.404-1.313.273.996-.281 1.523-.617 2.035-1.22.12-.145.244-.303.371-.48-.943.722-1.927.822-2.9.493l-.045-.018c.914.02 2.203-.474 3.092-1.189.41-.33.796-.73 1.17-1.21.28-.359.55-.76.82-1.216.234-.393.468-.824.7-1.293a2.83 2.83 0 0 1-.74.137l-.144.008c-.048.002-.093 0-.146.002.885-.198 1.5-.74 1.994-1.447-.24.117-.628.262-1.07.297-.058.006-.12.006-.182.006-.013-.002-.028 0-.047-.002.306-.078.574-.178.81-.309a3.363 3.363 0 0 0 .358-.236c.044-.037.088-.07.13-.106.099-.086.193-.18.28-.287.028-.034.056-.063.08-.098.036-.05.073-.098.104-.146a8.388 8.388 0 0 0 .51-.828c.015-.031.032-.057.046-.088.04-.084.08-.16.11-.227.042-.099.074-.179.092-.238a.515.515 0 0 1-.108.051c-.273.112-.727.187-1.086.201-.004 0-.008 0-.013.004h-.067c.72-.214 1.067-.45 1.422-.818a13.883 13.883 0 0 0 1.154-1.428c.264-.37.505-.738.692-1.072a6.5 6.5 0 0 0 .298-.592c.066-.157.122-.305.172-.45-.466.01-.986.011-1.48 0 .495.01 1.015.007 1.484-.005.5-1.485.063-2.262.063-2.262s-.526-1.212-1.4-.851c-.426.175-1.172.73-2.083 1.56l.514 1.45a17.561 17.561 0 0 1 1.703-1.602c-.257.22-.807.726-1.615 1.644-.256.29-.537.624-.844.997-.017.02-.035.038-.047.06a51.435 51.435 0 0 0-1.666 2.187c-.248.34-.498.704-.765 1.088h-.016c.002.02-.004.028-.01.032l-.101.152c-.104.155-.213.31-.318.47l-.352.534c-.061.09-.124.181-.186.277-.184.282-.367.573-.558.873a97.351 97.351 0 0 0-1.428 2.338 96.866 96.866 0 0 0-1.341 2.343c-.012.017-.02.04-.034.057a197.256 197.256 0 0 0-.668 1.223l-.097.181c-.17.318-.346.642-.52.979 0 .004-.005.008-.006.013-.026.048-.05.093-.072.141-.117.222-.218.424-.45.87a1.352 1.352 0 0 0-.233-.182l.345-.65c.047-.089.096-.177.143-.27l.04-.077.546-1.001.13-.233v-.006l-.001-.006c.169-.31.345-.62.52-.94.051-.087.102-.173.153-.265.224-.395.454-.794.684-1.197a91.685 91.685 0 0 1 2.135-3.504c.247-.386.503-.77.754-1.152.092-.138.182-.272.279-.41a72.9 72.9 0 0 1 .48-.701c.007-.012.019-.024.026-.037h.006c.26-.356.517-.713.773-1.065.278-.373.554-.735.83-1.09a31.075 31.075 0 0 1 1.777-2.075l-.515-1.446c-.06.057-.126.116-.192.178a32.37 32.37 0 0 0-.758.729c-.295.294-.597.606-.912.935a46.032 46.032 0 0 0-1.632 1.838l-.03.033.002.008c-.017.02-.033.044-.054.064-.266.323-.538.649-.801.985a39.105 39.105 0 0 0-1.445 1.95c-.043.06-.085.126-.127.186a26.458 26.458 0 0 0-1.403 2.303c-.13.247-.256.485-.37.715-.096.195-.187.395-.278.591-.21.463-.398.93-.566 1.399l.002.006a.36.36 0 0 0-.026.058c-.108.303-.203.608-.29.914-.14.174-.302.325-.483.46a3.505 3.505 0 0 0-.131-.153 5.148 5.148 0 0 0 .824-2.211 6.4 6.4 0 0 0-.016-1.488c-.046-.4-.126-.82-.238-1.274-.097-.393-.217-.81-.363-1.248-.091.185-.22.367-.379.545l-.086.094c-.029.032-.06.06-.092.094.434-.674.486-1.397.358-2.148a2.722 2.722 0 0 1-.49.85c-.033.038-.072.077-.11.116-.01.007-.019.018-.033.028.144-.24.25-.467.318-.698a1.29 1.29 0 0 0 .04-.146 2.85 2.85 0 0 0 .038-.225l.018-.146a2.11 2.11 0 0 0-.002-.354c-.003-.04-.004-.076-.01-.113-.01-.055-.016-.105-.027-.154a7.416 7.416 0 0 0-.193-.84c-.01-.028-.015-.056-.026-.084-.027-.079-.048-.149-.072-.209a2.1 2.1 0 0 0-.09-.209.455.455 0 0 1-.035.1c-.102.24-.34.57-.557.8-.003.003-.007.005-.007.01l-.04.043c.318-.58.39-.946.385-1.398a12.274 12.274 0 0 0-.16-1.615 10.68 10.68 0 0 0-.232-1.104 5.853 5.853 0 0 0-.18-.558 6.337 6.337 0 0 0-.172-.391 26.18 26.18 0 0 0 .002-.004C5.576.341 4.82.124 4.82.124s-.27-.11-.582-.123zm3.38 15.783l.032.082v.002c-.06.033-.116.067-.178.097-.012.004-.024.012-.039.018a2.41 2.41 0 0 0 .186-.2zm-.603 1.626c.13.136.25.242.354.32l.07.227a1.866 1.866 0 0 0-.246.053l-.03-.098c-.024-.084-.048-.17-.076-.257l-.021-.073zm.26.875a2.34 2.34 0 0 1 .271.01l.07.229a.778.778 0 0 1 .247-.004l-.326.627a127.643 127.643 0 0 1-.262-.862z"/>`,
        fill: true
      },
      terminal: {
        viewBox: "0 0 24 24",
        body: `<polyline points="4 17 10 11 4 5"></polyline><line x1="12" x2="20" y1="19" y2="19"></line>`,
        fill: false
      },
      xml: {
        viewBox: "0 0 24 24",
        body: `<path d="m8 16-4-4 4-4"></path><path d="m16 8 4 4-4 4"></path><path d="m14 4-4 16"></path>`,
        fill: false
      },
      json: {
        viewBox: "0 0 24 24",
        body: `<path d="M8 16H6a2 2 0 0 1-2-2v-1a2 2 0 0 0-1-1.73A2 2 0 0 0 4 9.54V8a2 2 0 0 1 2-2h2"></path><path d="M16 16h2a2 2 0 0 0 2-2v-1a2 2 0 0 1 1-1.73A2 2 0 0 1 20 9.54V8a2 2 0 0 0-2-2h-2"></path><path d="M12 8v8"></path>`,
        fill: false
      },
      yaml: {
        viewBox: "0 0 24 24",
        body: `<path d="m0 .97 4.111 6.453v4.09h2.638v-4.09L11.053.969H8.214L5.58 5.125 2.965.969Zm12.093.024-4.47 10.544h2.114l.97-2.345h4.775l.804 2.345h2.26L14.255.994Zm1.133 2.225 1.463 3.87h-3.096zm3.06 9.475v10.29H24v-2.199h-5.454v-8.091zm-12.175.002v10.335h2.217v-7.129l2.32 4.792h1.746l2.4-4.96v7.295h2.127V12.696h-2.904L9.44 17.37l-2.455-4.674Z"/>`,
        fill: true
      }
    };

    const codeLanguageKey = (language) => {
      const value = String(language || "").trim().toLowerCase();
      return codeLanguageAliases[value] || value;
    };

    const formatLanguage = (language) => {
      if (!language) {
        return "Code";
      }
      return languageLabels[language] || language.charAt(0).toUpperCase() + language.slice(1);
    };

    const escapeHtml = (value) =>
      String(value)
        .replaceAll("&", "&amp;")
        .replaceAll("<", "&lt;")
        .replaceAll(">", "&gt;")
        .replaceAll("\"", "&quot;");

    const cardWithFooterClass = "docs-code-block-with-footer";
    const standaloneCardClass = "docs-code-block docs-snippet-card my-5 flex flex-col gap-0 overflow-hidden rounded-xl border border-code-border bg-code-tab py-0 text-code-foreground shadow-sm shadow-black/[0.03] dark:shadow-black/20";
    const snippetToolbarClass = "docs-code-toolbar docs-snippet-card-header !flex min-h-10 items-center justify-between gap-3 border-b border-code-border bg-code-tab px-3 py-2 [.border-b]:!pb-2";
    const toolbarActionClass = "ml-auto self-center justify-self-auto";
    const panelClass = "docs-code-content docs-snippet-card-content bg-code text-code-foreground";
    const codePreClass = "shiki shiki-themes github-light-default github-dark-default !m-0 !max-w-full !overflow-x-auto !rounded-none !border-0 !bg-code !px-6 !py-4 text-sm !leading-6 !text-code-foreground";
    const codeElementClass = "shiki-code grid min-w-max font-mono !text-[0.85rem] !leading-6 [&_.line]:min-h-[1.5rem] dark:[&_span[style]]:![color:var(--shiki-dark,var(--shiki-light,currentColor))] dark:[&_span[style]]:![font-style:var(--shiki-dark-font-style,var(--shiki-light-font-style,inherit))] dark:[&_span[style]]:![font-weight:var(--shiki-dark-font-weight,var(--shiki-light-font-weight,inherit))] dark:[&_span[style]]:![text-decoration:var(--shiki-dark-text-decoration,var(--shiki-light-text-decoration,inherit))] [&_.conum]:ml-1 [&_.conum]:inline-flex [&_.conum]:h-[1.05rem] [&_.conum]:w-[1.05rem] [&_.conum]:items-center [&_.conum]:justify-center [&_.conum]:rounded-full [&_.conum]:[border:1px_solid_color-mix(in_oklab,var(--code-foreground)_82%,var(--code))] [&_.conum]:bg-code-foreground [&_.conum]:![color:var(--code)] [&_.conum]:[font-family:var(--shell-font)] [&_.conum]:text-[0.68rem] [&_.conum]:leading-none [&_.conum]:font-bold [&_.conum]:not-italic [&_.conum]:align-[0.08em] [&_.conum::before]:content-[attr(data-value)]";
    const cardFooterClass = "docs-snippet-card-footer docs-code-callouts block border-t border-code-border bg-code-tab px-6 pt-3 pb-2 text-sm leading-5 text-code-foreground [&_code]:!rounded-none [&_code]:!bg-code-foreground/10 [&_code]:!p-0 [&_code]:!text-[1em] [&_code]:!leading-[inherit] [&_code]:!text-code-foreground [&_ol]:grid [&_ol]:gap-[0.35rem] [&_ol]:!m-0 [&_ol]:!p-0 [&_ol]:list-none [&_ol]:[counter-reset:docs-code-callout] [&_li]:grid [&_li]:grid-cols-[auto_minmax(0,1fr)] [&_li]:items-start [&_li]:gap-[0.7rem] [&_li]:[counter-increment:docs-code-callout] [&_li+li]:!mt-0 [&_li::before]:mt-[0.2rem] [&_li::before]:inline-flex [&_li::before]:h-[1.15rem] [&_li::before]:w-[1.15rem] [&_li::before]:items-center [&_li::before]:justify-center [&_li::before]:rounded-full [&_li::before]:[border:1px_solid_color-mix(in_oklab,var(--code-foreground)_82%,var(--code))] [&_li::before]:bg-code-foreground [&_li::before]:text-code [&_li::before]:text-[0.72rem] [&_li::before]:leading-none [&_li::before]:font-bold [&_li::before]:content-[counter(docs-code-callout)] [&_table]:w-full [&_table]:border-collapse [&_td]:align-top [&_td:first-child]:w-[1.15rem] [&_td:first-child]:align-middle [&_td:first-child]:pr-[0.7rem] [&_td:first-child]:pt-0 [&_tr+tr_td]:pt-[0.55rem] [&_tr+tr_td:first-child]:pt-0 [&_td:first-child_.conum]:ml-0 [&_td:first-child_.conum]:inline-flex [&_td:first-child_.conum]:h-[1.15rem] [&_td:first-child_.conum]:w-[1.15rem] [&_td:first-child_.conum]:items-center [&_td:first-child_.conum]:justify-center [&_td:first-child_.conum]:rounded-full [&_td:first-child_.conum]:[border:1px_solid_color-mix(in_oklab,var(--code-foreground)_82%,var(--code))] [&_td:first-child_.conum]:bg-code-foreground [&_td:first-child_.conum]:text-code [&_td:first-child_.conum]:[font-family:var(--shell-font)] [&_td:first-child_.conum]:text-[0.72rem] [&_td:first-child_.conum]:leading-none [&_td:first-child_.conum]:font-bold [&_td:first-child_.conum]:not-italic [&_td:first-child_.conum::before]:content-[attr(data-value)] [&_td:first-child_.conum+b]:hidden [&_.colist]:!m-0 [&_p]:!m-0";
    const snippetHeadingClass = "docs-snippet-heading flex min-w-0 items-center gap-2 text-sm leading-5 font-semibold text-code-foreground";
    const externalHeaderClass = "docs-snippet-external-header my-0 mt-[1.35rem] mb-[0.45rem]";
    const externalTitleClass = "title docs-snippet-external-title my-0 mt-[1.35rem] mb-[0.45rem] text-[0.95rem] leading-[1.45] font-bold text-foreground [overflow-wrap:anywhere] [&_code]:whitespace-normal";
    const externalHeaderTitleClass = "docs-snippet-external-header-title my-0 text-[0.95rem] leading-[1.45] font-bold text-foreground [overflow-wrap:anywhere] [&_code]:whitespace-normal";
    const externalHeaderDescriptionClass = "docs-snippet-external-header-description mt-1 text-sm leading-6 text-muted-foreground";
    const buttonGhostXsClass = "inline-flex shrink-0 items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 h-6 gap-1 rounded-md px-2 text-xs has-[>svg]:px-1.5 [&_svg:not([class*='size-'])]:size-3";
    const buttonGhostIconXsClass = "inline-flex shrink-0 items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-6 rounded-md [&_svg:not([class*='size-'])]:size-3";
    const copyButtonClass = `docs-snippet-copy docs-code-copy ${buttonGhostIconXsClass} text-code-muted hover:bg-code-border hover:text-code-foreground dark:hover:bg-code-border`;
    const languageButtonClass = "docs-code-language language-option inline-flex h-6 items-center gap-1 align-middle leading-none text-code-muted aria-selected:font-semibold aria-selected:text-code-foreground";
    const languageButtonActiveClass = "selected font-semibold text-code-foreground";
    const languageButtonInactiveClass = "text-code-muted";
    const staticLanguageClass = "docs-code-language docs-code-language-static inline-flex h-6 shrink-0 items-center justify-center gap-1 rounded-md px-2 text-xs leading-none font-medium whitespace-nowrap text-code-muted";
    const languageTextClass = "docs-code-language-text inline-flex items-center leading-none";
    const languageTextSelector = ".docs-code-language-text";
    const languageIconClass = "docs-code-language-icon inline-flex size-3.5 shrink-0 items-center justify-center self-center leading-none [&_svg]:block [&_svg]:size-full";
    const languageIconFillClass = "docs-code-language-icon-fill";
    const kindIconClass = "docs-snippet-kind-icon";
    const sharedTemplateHtml = Object.fromEntries(
      Object.entries(docsSnippetTemplates).map(([name, template]) => [name, template.html])
    );

    const setClassName = (element, className) => {
      element.className = className;
    };

    const addClassName = (element, className) => {
      element.classList.add(...className.split(/\s+/).filter(Boolean));
    };

    const renderSharedTemplate = (name, replacements) => {
      const source = sharedTemplateHtml[name];
      if (!source) {
        return undefined;
      }
      const html = source.replace(/{{(\w+)}}/g, (_, key) => replacements[key] ?? "");
      const template = document.createElement("template");
      template.innerHTML = html.trim();
      return template.content.firstElementChild;
    };

    const renderSharedSnippetCard = ({ dependency, hasCallouts, snippetId, optionsLabel, copyLabel }) => {
      const element = renderSharedTemplate(
        dependency ? "docs/snippets/dependency-snippet.html" : "docs/snippets/code-snippet.html",
        {
          snippetId: escapeHtml(snippetId),
          optionsLabel: escapeHtml(optionsLabel),
          optionButtonsHtml: "",
          copyLabel: escapeHtml(copyLabel),
          snippetPanelsHtml: ""
        }
      );
      if (hasCallouts) {
        element?.classList.add(cardWithFooterClass);
      }
      return element;
    };

    const decorateButton = (button, variant = "ghost", size = "xs") => {
      button.setAttribute("data-slot", "button");
      button.dataset.variant = variant;
      button.dataset.size = size;
      setClassName(button, size === "icon-xs" ? buttonGhostIconXsClass : buttonGhostXsClass);
    };

    const decorateLanguageButton = (button, active) => {
      button.setAttribute("data-slot", "button");
      button.dataset.variant = "ghost";
      button.dataset.size = "xs";
      setClassName(
        button,
        `${buttonGhostXsClass} ${languageButtonClass} ${active ? languageButtonActiveClass : languageButtonInactiveClass}`
      );
    };

    const codeLanguageIcon = (language, extraClass = "") => {
      const key = codeLanguageKey(language);
      const generatedIcon = codeLanguageIcons[key] || codeLanguageIcons.text;
      const svgAttributes = generatedIcon.fill
        ? `fill="currentColor"`
        : `fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"`;
      const fillClass = generatedIcon.fill ? ` ${languageIconFillClass}` : "";
      return `<span class="${languageIconClass} docs-code-language-icon-${key}${fillClass}${extraClass ? ` ${extraClass}` : ""}" aria-hidden="true"><svg viewBox="${generatedIcon.viewBox}" ${svgAttributes} focusable="false">${generatedIcon.body}</svg></span>`;
    };

    const codeLanguageTabHtml = (language, label) =>
      `${codeLanguageIcon(language)}<span class="${languageTextClass}">${escapeHtml(label)}</span>`;

    const snippetKindIcon = (kind) => {
      const language = kind === "properties" ? "properties" : kind === "dependency" ? "gradle" : "text";
      return codeLanguageIcon(language, kindIconClass);
    };

    const normalizeOptionLanguage = (option) => {
      const candidate =
        option.dataset.lang ||
        option.dataset.language ||
        option.getAttribute("data-lang") ||
        option.getAttribute("data-language") ||
        option.textContent;
      return codeLanguageKey(candidate);
    };

    const enhanceLanguageOptionIcon = (option) => {
      const active = option.getAttribute("aria-selected") === "true" || option.classList.contains("selected");
      decorateLanguageButton(option, active);
      if (option.querySelector(".docs-code-language-icon")) {
        return;
      }
      const language = normalizeOptionLanguage(option);
      const label = option.textContent.trim() || formatLanguage(language);
      option.dataset.lang = option.dataset.lang || language;
      option.innerHTML = codeLanguageTabHtml(language, label);
    };

    const nextElement = (element) => {
      let next = element.nextElementSibling;
      while (next && next.matches(".docs-snippet-card-title:empty")) {
        next = next.nextElementSibling;
      }
      return next;
    };

    const isDependencyBlock = (element) => element.classList.contains("docs-code-dependency-snippet");

    const isCalloutFooter = (element) =>
      element?.classList?.contains("colist") || element?.classList?.contains("asciidoc-manual-callouts");

    const attachCalloutFooter = (block, footer) => {
      if (!isCalloutFooter(footer) || footer.closest(".docs-code-block")) {
        return false;
      }
      footer.setAttribute("data-slot", "card-footer");
      footer.className = cardFooterClass;
      addClassName(block, cardWithFooterClass);
      block.append(footer);
      return true;
    };

    const canGroup = (first, candidate) => {
      if (!candidate?.classList?.contains("docs-code-block")) {
        return false;
      }
      if (!first.classList.contains("multi-language-sample") || !candidate.classList.contains("multi-language-sample")) {
        return false;
      }
      return isDependencyBlock(first) === isDependencyBlock(candidate);
    };

    const snippetText = (block) => {
      const code = block.querySelector("code");
      return code?.innerText || code?.textContent || "";
    };

    const copyText = async (text) => {
      if (navigator.clipboard?.writeText) {
        await navigator.clipboard.writeText(text);
        return;
      }
      const textarea = document.createElement("textarea");
      textarea.value = text;
      textarea.setAttribute("readonly", "");
      textarea.style.position = "fixed";
      textarea.style.opacity = "0";
      document.body.append(textarea);
      textarea.select();
      document.execCommand("copy");
      textarea.remove();
    };

    const makeCopyButton = (className = copyButtonClass) => {
      const button = document.createElement("button");
      button.className = className;
      button.type = "button";
      button.setAttribute("data-slot", "button");
      button.dataset.variant = "ghost";
      button.dataset.size = "icon-xs";
      button.setAttribute("aria-label", "Copy code");
      button.setAttribute("title", "Copy code");
      button.dataset.copyCode = "";
      button.innerHTML = `${copyButtonIconHtml}<span class="sr-only">Copy code</span>`;
      return button;
    };

    const takeSnippetHeader = (blocks) => {
      let titleHtml = "";
      let descriptionHtml = "";
      blocks.forEach((block) => {
        const title = block.querySelector(":scope > .title");
        const htmlValue = title?.innerHTML.trim();
        if (!titleHtml && htmlValue) {
          titleHtml = htmlValue;
        }
        const description = block.querySelector(":scope > .description, :scope > .docs-snippet-description");
        const descriptionValue = description?.innerHTML.trim();
        if (!descriptionHtml && descriptionValue) {
          descriptionHtml = descriptionValue;
        }
        title?.remove();
        description?.remove();
      });
      return { titleHtml, descriptionHtml };
    };

    const makeExternalSnippetTitle = (titleHtml) => {
      const title = document.createElement("div");
      title.className = externalTitleClass;
      title.innerHTML = titleHtml;
      return title;
    };

    const makeExternalSnippetHeader = (titleHtml, descriptionHtml) => {
      const header = document.createElement("div");
      header.className = externalHeaderClass;
      if (titleHtml) {
        const title = document.createElement("div");
        title.className = externalHeaderTitleClass;
        title.innerHTML = titleHtml;
        header.append(title);
      }
      if (descriptionHtml) {
        const description = document.createElement("div");
        description.className = externalHeaderDescriptionClass;
        description.innerHTML = descriptionHtml;
        header.append(description);
      }
      return header;
    };

    const makeExternalSnippetIntro = (titleHtml, descriptionHtml, forceHeader = false) => {
      if (!titleHtml && !descriptionHtml) {
        return undefined;
      }
      return forceHeader || descriptionHtml
        ? makeExternalSnippetHeader(titleHtml, descriptionHtml)
        : makeExternalSnippetTitle(titleHtml);
    };

    const makeStaticLanguage = (language) => {
      const label = document.createElement("span");
      label.setAttribute("data-slot", "button");
      label.dataset.variant = "ghost";
      label.dataset.size = "xs";
      label.className = staticLanguageClass;
      label.setAttribute("aria-label", `${formatLanguage(language)} snippet`);
      label.dataset.lang = codeLanguageKey(language);
      label.innerHTML = codeLanguageTabHtml(language, formatLanguage(language));
      return label;
    };

    const decorateCopyButtonIcon = (button) => {
      const icon = button.querySelector("svg");
      if (!icon) {
        return;
      }
      icon.setAttribute("fill", "none");
      icon.setAttribute("stroke", "currentColor");
      icon.setAttribute("stroke-linecap", "round");
      icon.setAttribute("stroke-linejoin", "round");
      icon.setAttribute("stroke-width", "2");
    };

    const decorateCodeSurface = (root) => {
      root.querySelectorAll("pre.shiki").forEach((pre) => {
        setClassName(pre, codePreClass);
        pre.setAttribute("tabindex", pre.getAttribute("tabindex") || "0");
        const code = pre.querySelector("code");
        if (code) {
          addClassName(code, codeElementClass);
        }
      });
    };

    const setCopyState = (button, copied) => {
      button.setAttribute("aria-label", copied ? "Copied" : "Copy code");
      button.setAttribute("title", copied ? "Copied" : "Copy code");
      const label = button.querySelector("span");
      if (label) {
        label.textContent = copied ? "Copied" : "Copy code";
      }
    };

    const bindCopyButton = (button, getText) => {
      if (button.dataset.copyEnhanced === "true") {
        return;
      }
      button.dataset.copyEnhanced = "true";
      button.addEventListener("click", async () => {
        try {
          await copyText(getText());
          setCopyState(button, true);
          window.setTimeout(() => setCopyState(button, false), 1400);
        } catch {
          button.setAttribute("aria-label", "Copy failed");
          button.setAttribute("title", "Copy failed");
          window.setTimeout(() => setCopyState(button, false), 1800);
        }
      });
    };

    const bindStaticSnippetTemplate = (template) => {
      if (template.dataset.staticSnippetEnhanced === "true") {
        return;
      }
      const tabs = Array.from(template.querySelectorAll(".docs-snippet-tabs button[role='tab']"));
      const panels = tabs
        .map((tab) => document.getElementById(tab.getAttribute("aria-controls") || ""))
        .filter(Boolean);
      const copyButton = template.querySelector("[data-copy-active-snippet]");
      if (!tabs.length || !panels.length) {
        return;
      }
      template.dataset.staticSnippetEnhanced = "true";
      let activeIndex = Math.max(0, tabs.findIndex((tab) => tab.getAttribute("aria-selected") === "true"));

      const activate = (nextIndex) => {
        activeIndex = nextIndex;
        panels.forEach((panel, index) => {
          const active = index === activeIndex;
          panel.hidden = !active;
          panel.setAttribute("aria-hidden", String(!active));
        });
        tabs.forEach((tab, index) => {
          const active = index === activeIndex;
          tab.setAttribute("aria-selected", String(active));
          tab.tabIndex = active ? 0 : -1;
          decorateLanguageButton(tab, active);
        });
      };

      tabs.forEach((tab, index) => {
        tab.addEventListener("click", () => activate(index));
        tab.addEventListener("keydown", (event) => {
          if (event.key !== "ArrowRight" && event.key !== "ArrowLeft") {
            return;
          }
          event.preventDefault();
          const offset = event.key === "ArrowRight" ? 1 : -1;
          const nextIndex = (index + offset + tabs.length) % tabs.length;
          activate(nextIndex);
          tabs[nextIndex].focus();
        });
      });

      if (copyButton) {
        decorateCopyButtonIcon(copyButton);
        bindCopyButton(copyButton, () => snippetText(panels[activeIndex]));
      }
      activate(activeIndex);
    };

    const ensureCodeBlockCopy = (block) => {
      let button = block.querySelector(":scope > .docs-code-copy");
      if (!button) {
        button = makeCopyButton();
        block.insertBefore(button, block.firstChild);
      }
      decorateCopyButtonIcon(button);
      bindCopyButton(button, () => snippetText(block));
      return button;
    };

    const enhanceStandaloneCodeBlocks = (root) => {
      root.querySelectorAll(".listingblock").forEach((block) => {
        if (block.closest(".docs-snippet-template") || !block.querySelector("pre.shiki")) {
          return;
        }
        block.setAttribute("data-slot", "card");
        block.classList.remove("gap-6", "py-6");
        addClassName(block, standaloneCardClass);
        decorateCodeSurface(block);
        if (!block.dataset.lang) {
          block.dataset.lang = block.querySelector("code")?.dataset.lang || "code";
        }
        const copyButton = ensureCodeBlockCopy(block);
        if (block.classList.contains("multi-language-sample") || block.querySelector(":scope > [data-slot='card-header']")) {
          attachCalloutFooter(block, nextElement(block));
          return;
        }
        const { titleHtml, descriptionHtml } = takeSnippetHeader([block]);
        const intro = makeExternalSnippetIntro(titleHtml, descriptionHtml);
        if (intro) {
          block.parentNode.insertBefore(intro, block);
        }
        const content = block.querySelector(":scope > [data-slot='card-content'], :scope > .content");
        if (content) {
          addClassName(content, panelClass);
        }
        const header = document.createElement("div");
        header.setAttribute("data-slot", "card-header");
        header.className = snippetToolbarClass;
        const action = document.createElement("div");
        action.setAttribute("data-slot", "card-action");
        action.className = toolbarActionClass;
        action.append(copyButton);
        const title = document.createElement("div");
        title.setAttribute("data-slot", "card-title");
        title.className = snippetHeadingClass;
        title.innerHTML = `${codeLanguageIcon(block.dataset.lang)}<span class="${languageTextClass}"></span>`;
        title.querySelector(languageTextSelector).textContent = formatLanguage(block.dataset.lang);
        header.append(title, action);
        block.insertBefore(header, content || block.firstChild);
        attachCalloutFooter(block, nextElement(block));
      });
    };

    const enhanceCodeSnippets = (root) => {
      const blocks = Array.from(root.querySelectorAll(".docs-code-block"));
      const processed = new WeakSet();
      let groupIndex = 0;

      for (const block of blocks) {
        if (processed.has(block) || block.closest(".docs-snippet-template") || !block.classList.contains("multi-language-sample")) {
          attachCalloutFooter(block, nextElement(block));
          continue;
        }

        const group = [block];
        processed.add(block);

        let cursor = block;
        while (canGroup(block, nextElement(cursor))) {
          cursor = nextElement(cursor);
          group.push(cursor);
          processed.add(cursor);
        }

        if (group.length < 2) {
          const dependency = isDependencyBlock(block);
          const { titleHtml, descriptionHtml } = takeSnippetHeader(group);
          const intro = makeExternalSnippetIntro(titleHtml, descriptionHtml, dependency);
          if (intro) {
            block.parentNode.insertBefore(intro, block);
          }

          if (!block.querySelector(":scope > [data-slot='card-header']")) {
            const language = block.dataset.lang || block.querySelector("code")?.dataset.lang || "code";
            const copyButton = block.querySelector(":scope > .docs-code-copy") || ensureCodeBlockCopy(block);
            const content = block.querySelector(":scope > [data-slot='card-content'], :scope > .content");
            decorateCodeSurface(block);
            if (content) {
              addClassName(content, panelClass);
            }

            const header = document.createElement("div");
            header.setAttribute("data-slot", "card-header");
            header.className = snippetToolbarClass;

            const action = document.createElement("div");
            action.setAttribute("data-slot", "card-action");
            action.className = toolbarActionClass;
            action.append(copyButton);

            header.append(makeStaticLanguage(language), action);
            block.insertBefore(header, content || block.firstChild);
          }
          continue;
        }

        const dependency = isDependencyBlock(block);
        const { titleHtml, descriptionHtml } = takeSnippetHeader(group);
        const afterGroup = nextElement(cursor);
        const hasCallouts = isCalloutFooter(afterGroup);
        if (hasCallouts) {
          afterGroup.setAttribute("data-slot", "card-footer");
          afterGroup.className = cardFooterClass;
        }
        const originalParent = block.parentNode;
        const referenceNode = block;
        const template = renderSharedSnippetCard({
          dependency,
          hasCallouts,
          snippetId: `docs-snippet-${groupIndex}`,
          optionsLabel: dependency ? "Dependency format" : "Code language",
          copyLabel: "Copy code"
        });
        const panels = template?.querySelector(":scope > [data-slot='card-content']");
        const tabs = template?.querySelector(".docs-snippet-tabs");
        const copyButton = template?.querySelector("[data-copy-active-snippet]");
        if (!template || !panels || !tabs || !copyButton) {
          continue;
        }
        decorateCopyButtonIcon(copyButton);
        let activeIndex = 0;

        const activate = (nextIndex) => {
          activeIndex = nextIndex;
          group.forEach((panel, index) => {
            const active = index === activeIndex;
            panel.hidden = !active;
            panel.setAttribute("aria-hidden", String(!active));
          });
          tabs.querySelectorAll("button").forEach((button, index) => {
            const active = index === activeIndex;
            button.setAttribute("aria-selected", String(active));
            button.tabIndex = active ? 0 : -1;
            decorateLanguageButton(button, active);
          });
        };

        group.forEach((panel, index) => {
          const language = panel.dataset.lang || panel.querySelector("code")?.dataset.lang || "code";
          const tabId = `docs-snippet-tab-${groupIndex}-${index}`;
          const panelId = `docs-snippet-panel-${groupIndex}-${index}`;
          const tab = document.createElement("button");
          decorateLanguageButton(tab, index === 0);
          tab.type = "button";
          tab.id = tabId;
          tab.dataset.lang = codeLanguageKey(language);
          tab.setAttribute("role", "tab");
          tab.setAttribute("aria-controls", panelId);
          tab.innerHTML = codeLanguageTabHtml(language, formatLanguage(language));
          tab.addEventListener("click", () => activate(index));
          tab.addEventListener("keydown", (event) => {
            if (event.key !== "ArrowRight" && event.key !== "ArrowLeft") {
              return;
            }
            event.preventDefault();
            const offset = event.key === "ArrowRight" ? 1 : -1;
            const nextIndex = (index + offset + group.length) % group.length;
            activate(nextIndex);
            tabs.querySelectorAll("button")[nextIndex].focus();
          });
          tabs.append(tab);

          panel.id = panelId;
          panel.setAttribute("role", "tabpanel");
          panel.setAttribute("aria-labelledby", tabId);
          panel.removeAttribute("data-slot");
          panel.querySelector(":scope > .docs-code-copy")?.remove();
          const renderedContent = panel.querySelector(":scope > [data-slot='card-content'], :scope > .content");
          if (renderedContent) {
            while (renderedContent.firstChild) {
              panel.append(renderedContent.firstChild);
            }
            renderedContent.remove();
          }
          panel.className = panelClass;
          decorateCodeSurface(panel);
        });

        bindCopyButton(copyButton, () => snippetText(group[activeIndex]));

        const intro = makeExternalSnippetIntro(titleHtml, descriptionHtml, dependency);
        if (intro) {
          originalParent.insertBefore(intro, referenceNode);
        }
        originalParent.insertBefore(template, referenceNode);
        group.forEach((panel) => panels.append(panel));
        if (hasCallouts) {
          template.append(afterGroup);
        }
        activate(0);
        groupIndex += 1;
      }
    };

    const enhanceTemplateSnippetControls = (root) => {
      root.querySelectorAll(".docs-snippet-tabs .language-option, .docs-code-tabs .language-option").forEach((option) => {
        enhanceLanguageOptionIcon(option);
      });

      root.querySelectorAll(".docs-snippet-template").forEach((template) => {
        bindStaticSnippetTemplate(template);
        const heading = template.querySelector(":scope .docs-snippet-heading");
        if (heading && !heading.querySelector(".docs-code-language-icon")) {
          heading.insertAdjacentHTML("afterbegin", snippetKindIcon(template.dataset.snippetKind || "code"));
        }
      });

      root.querySelectorAll(".docs-properties-heading").forEach((heading) => {
        if (!heading.querySelector(".docs-code-language-icon")) {
          heading.insertAdjacentHTML("afterbegin", snippetKindIcon("properties"));
        }
      });
    };

    const stabilizeGeneratedImages = (root) => {
      root.querySelectorAll("img").forEach((image) => {
        image.loading = image.loading || "lazy";
        image.decoding = image.decoding || "async";
        const applyDimensions = () => {
          if (image.naturalWidth > 0 && image.naturalHeight > 0) {
            image.width = image.width || image.naturalWidth;
            image.height = image.height || image.naturalHeight;
          }
        };
        if (image.complete) {
          applyDimensions();
        } else {
          image.addEventListener("load", applyDimensions, { once: true });
        }
      });
    };

    const init = () => {
      document.querySelectorAll("[data-generated-docs]").forEach((root) => {
        if (root.dataset.generatedDocsEnhanced === "true") {
          return;
        }
        root.dataset.generatedDocsEnhanced = "true";
        stabilizeGeneratedImages(root);
        enhanceStandaloneCodeBlocks(root);
        enhanceCodeSnippets(root);
        enhanceTemplateSnippetControls(root);
        decorateCodeSurface(root);
      });
    };

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", init, { once: true });
    } else {
      init();
    }
  })();
</script>
